@page
@model FormModel
@{
    ViewData["Title"] = "Form ";
}
<h1>Edit</h1>

<p>Student</p>
  <hr>
  <form action="">
    <label for="name" class="fw-bold">StudentName</label>
    <br >
    <input type="text" name="name" placeholder="John">
    <br>
    <label for="age" class="fw-bold">Age</label>
    <br>
    <input type="number" name="name" placeholder="18">
    <br>
    <input type="submit" value="Save">
  </form>
  <a href="/">Back to List</a>