@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-3">Index</h1>
   <a href="#">Create new</a>
  <table class="table">
    <header>
      <th>Name</th>
      <th>Age</th>
      <th></th>
    </header>
    <tr>
      <td>John</td>
      <td>18</td>
      <td><a href="/Form">Edit</a></td>
    </tr>
    <tr>
      <td>Steve</td>
      <td>21</td>
      <td><a href="/Form">Edit</a></td>
    </tr>
    <tr>
      <td>Bill</td>
      <td>25</td>
      <td><a href="/Form">Edit</a></td>
    </tr>
    <tr>
      <td>Ram</td>
      <td>20</td>
      <td><a href="/Form">Edit</a></td>
    </tr>
    <tr>
      <td>Ron</td>
      <td>31</td>
      <td><a href="/Form">Edit</a></td>
    </tr>
    <tr>
      <td>Chris</td>
      <td>17</td>
      <td><a href="/Form">Edit</a></td>
    </tr>
    <tr>
      <td>Rob</td>
      <td>19</td>
      <td><a href="/Form">Edit</a></td>
    </tr>
  </table>
</div>
